:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 15px;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  padding: 1rem 1rem 2.6rem 1rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: var(--white);
  max-width: 22rem;
}

.container__img {
  border-radius: 0.7rem;
  margin-bottom: 1.6rem;
  display: block;
  max-width: 100%;
  height: auto;
}


.container__text {
  text-align: center;
  padding: 0 1rem;
}

.container__title {
  font-size: 1.4rem;
  line-height: 120%;
  font-weight: 700;
  color: var(--slate-900);
  margin-bottom: 1rem;
}
.container__description {
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--slate-500);
}
